<div style="height:100%;overflow-y:auto;">
  <table>
    <thead>
      <tr>
        <td ng-repeat="head in colhead">{{head.text}}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data" ng-bind-html="ruminant(item)"></tr>
    </tbody>
    <!-- <tbody>
      <tr>
        <td><span class="fn-fonthid">北京航空航天大学图书馆组</span></td>
        <td><span class="fn-fonthid" style="max-width:500px;">一二叁肆伍陆柒捌玖拾一二叁肆伍陆柒捌玖拾一二叁肆伍陆柒捌玖拾</span></td>
        <td>
          <a href="javascript:;" class="fna">详情</a>
          <a href="javascript:;" class="fna">删除</a>
        </td>
      </tr>
    </tbody> -->
   <!-- <tbody>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
     <tr>
       <td>北京航空航天大学图书馆组</td>
       <td>2015.01.01 - 2016.01.01</td>
       <td>正式用户</td>
       <td>角色</td>
       <td>
         <a href="javascript:;" class="fna">详情</a>
         <a href="javascript:;" class="fna">IP信息</a>
         <a href="javascript:;" class="fna">删除</a>
       </td>
     </tr>
   </tbody> -->
  </table>
</div>
