@import "global.scss";

@include exports ("inline-block") {

  $inline-input-height: rem-calc(30);
  $inline-input-width: rem-calc(90);
  $inline-input-padding-left: rem-calc(5);
  $fna-color: #3b9eff;

  // 多选框尺寸
  $checkbox-box-width: rem-calc(11);
  $checkbox-box-height: rem-calc(11);
  $checkbox-text-spacing: rem-calc(8);

  // 多选框颜色
  $checkbox-font-color: rgba(255, 255, 255, .5);
  $checkbox-selected-font-color: $white;
  $checkbox-box-bg-color: #7c828b;
  $checkbox-box-border-color: #3f454c;
  $checkbox-box-selected-color: #64aff9;
  $checkbox-box-selected-bg-color: $white;

  $checkbox-break-box-bg-color: $white;
  $checkbox-break-box-border-color: #a3a4a5;
  $checkbox-break-box-selected-color: #64aff9;

  .inline-input {
    height: $inline-input-height;
    width: $inline-input-width;
    padding-left: $inline-input-padding-left;
    line-height: $inline-input-height;
    outline: 0;
  }

  .checkbox {
    display: inline-block;
    cursor: pointer;
    color: $checkbox-font-color;
    font-weight: 200;

    &.selected {
      color: $checkbox-selected-font-color;
      &:before {
        background-color: $checkbox-box-selected-color;
        box-shadow: inset 1px 1px 0 1px $checkbox-box-selected-bg-color,
                    inset -1px -1px 0 1px $checkbox-box-selected-bg-color;
      }
    }

    &:before {
      content: "";
      display: inline-block;
      width: $checkbox-box-width;
      height: $checkbox-box-height;
      margin: 0 2px -1px 1px;
      border: 1px solid $black;
      cursor: default;

      border-color: $checkbox-box-border-color;
      background-color: $checkbox-box-bg-color
    }

    &.break { // 换一个皮肤
      color: $black;
      &:before {
        border-color: $checkbox-break-box-border-color;
        background-color:  $checkbox-break-box-bg-color;
      }
      &.selected {
        color: $black;
        &:before { background-color: $checkbox-break-box-selected-color; };
      }
    }
  }

  .fna {
    color: $fna-color;
    text-decoration: none;
    margin-right: 10px;
  }

  .fn-fonthid {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}