@import "global";

// 下拉框尺寸
$select-input-padding-top: 4px;
$select-input-padding-left: 10px;
$select-input-border-radius-size: 4px;
$select-dropdown-maring: -1px 0 0 0;
$select-dropdown-content-max-height: rem-calc(150);
$select-dropdown-content-padding: 5px 0 9px 0;
$select-dropdown-option-padding: 5px 10px;

// 下拉框颜色
$select-input-font-color: rgba(0, 0, 0, .5);
$select-input-border-color: #a3a4a5;
$select-input-bg: linear-gradient(-179deg, #ffffff 0%, #fafafa 100%);
$select-input-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5);

@include exports("input") {

  .select-control {
    position: relative;
    display: inline-block;
    width: 100%;
    white-space: nowrap;

    .select-input {
      padding: $select-input-padding-top $select-input-padding-left;
      border: 1px solid $select-input-border-color;
      border-radius: $select-input-border-radius-size;
      background: $select-input-bg;
      box-shadow: $select-input-box-shadow;
      line-height: 1.5;
      color: $select-input-font-color;
      cursor: pointer;
    }
  }

  // .select-description { color: $select-description-color; }

  // .select-control {
  //   position: relative;
  //   display: inline-block;
  //   width: 100%;
  //   white-space: nowrap;

  //   // 功能按钮
  //   + .fn-btn { text-decoration: none;  color: #3ba5fd; }

  //   .select-input {
  //     padding: $select-input-padding-top $select-input-padding-left;
  //     border: 1px solid $select-input-border-color;
  //     border-radius: $select-input-border-radius-size;
  //     background: $select-input-bg;
  //     box-shadow: $select-input-box-shadow;
  //     line-height: 1.5;
  //     color: $select-input-font-color;
  //     cursor: pointer;

  //     @include icon-abs-before("triangle", (0, 0));
  //     &::before { top: auto; left: auto; right: $select-input-padding-left; }

  //     &.selected {  color: $black; }

  //     &.active {
  //       color: $black;
  //       background-image: none;
  //       background-color: $select-input-active-bg-color;
  //       border-bottom-left-radius: 0;
  //       border-bottom-right-radius: 0;
  //     }

  //     &.disabled {
  //       color: $select-input-font-color;
  //       background-image: none;
  //       background-color: $select-disabled-bg-color;
  //       cursor: default;
  //     }
  //   }

  //   .select-dropdown {
  //     position: absolute;
  //     z-index: 1;
  //     width: 100%;
  //     margin: $select-dropdown-maring;
  //     border: 1px solid $select-dropdown-border-color;
  //     background-color: $select-input-active-bg-color;
  //     box-shadow: $select-dropdown-box-shadown;
  //     @include side-radius(bottom, $select-input-border-radius-size);
  //   }

  //   .select-dropdown-content {
  //     max-height: $select-dropdown-content-max-height;
  //     padding: $select-dropdown-content-padding;
  //     overflow-x: hidden;
  //     overflow-y: auto;
  //   }

  //   .option {
  //     padding: $select-dropdown-option-padding; cursor: pointer;
  //     &.hover, &:hover {
  //       color: $select-dropdown-hover-option-font-color;
  //       background: $select-dropdown-hover-option-bg;
  //     }
  //   }

  //   &.min { // 小号
  //     .select-input { padding: $select-min-padding; }
  //     .option { padding: $select-min-padding !important; }
  //   }
  // }
}