<div id="gundam-main">
  <div id="gundam-side" class="left">
    <ul class="tabs">
      <li class="tabs-item"
        ng-repeat="module in vm.modules"
        ng-click="vm.switching(module.key)"
        ng-class="{'selected': vm.selected == module.key}">
        <i class="icon icon-{{module.key}}">&nbsp;</i>
        {{module.name}}
      </li>
<!--       <li class="tabs-item selected"><i class="icon icon-character">&nbsp;</i>角色</li>
<li class="tabs-item"><i class="icon icon-groups">&nbsp;</i>组群</li>
<li class="tabs-item"><i class="icon icon-subjection">&nbsp;</i>隶属</li>
<li class="tabs-item"><i class="icon icon-user">&nbsp;</i>用户</li> -->
    </ul>
    <div id="gundam-side-bottom">
      <button class="round raund-blue">退</button>
    </div>
  </div>
  <div id="gundam-container">
    <div ui-view style="height:100%;">{{vm.selected}}</div>
  </div>
</div>

<!--   <div id="gundam-tool">
      组群名称：<input type="text" class="inline-input" style="margin-right:26px;">
      使用时间：<input type="text" class="inline-input" style="width:105px;" placeholder="yyyy/mm/dd"> - <input type="text" class="inline-input" style="width:105px;margin-right:26px;" placeholder="yyyy/mm/dd">
      客户类型：
      <div class="select-control" style="width:100px;margin-right:26px;">
        <div class="select-input selected">请选择</div>
        <div class="select-dropdown" style="display:none;">
          <div class="select-dropdown-content">
            <div class="option">豆角烧茄子</div>
          </div>
        </div>
      </div>
      角色类型：
      <div class="select-control" style="width:100px;margin-right:26px;">
        <div class="select-input selected">请选择</div>
        <div class="select-dropdown" style="display:none;">
          <div class="select-dropdown-content">
            <div class="option">豆角烧茄子</div>
          </div>
        </div>
      </div>
      <button class="round-min raund-blue">查</button>
    </div>
    <div id="gundam-content">
      <div id="gundam-content-tool" class="right">
        <button class="round-min raund-red">十</button>
      </div>
      <div id="gundam-content-table">

        <div style="height:100%;overflow-y:auto;">
          <table>
            <thead>
              <tr>
                <td>组群名称</td>
                <td>使用时间</td>
                <td>客户类型</td>
                <td>角色</td>
                <td>功能</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
              <tr>
                <td>北京航空航天大学图书馆组</td>
                <td>2015.01.01 - 2016.01.01</td>
                <td>正式用户</td>
                <td>角色</td>
                <td>
                  <a href="javascript:;" class="fna">详情</a>
                  <a href="javascript:;" class="fna">IP信息</a>
                  <a href="javascript:;" class="fna">删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="gundam-content-page">
          <div class="page">
            <a href="javascript:;" class="prev disabled">&lt;</a>
            <a href="javascript:;" class="selected">1</a><a href="javascript:;">2</a><a href="javascript:;">3</a><a href="javascript:;">4</a><a href="javascript:;">5</a><a href="javascript:;">6</a><a href="javascript:;">7</a><a href="javascript:;">8</a>
            <a href="javascript:;" class="next">&gt;</a>
          </div>
        </div>
      </div>
    </div> -->