<div id="gundam-main">
  <div id="gundam-side" class="left">
    <ul class="tabs">
      <li class="tabs-item"
        ng-repeat="module in ly.modules"
        ng-click="ly.switching(module.key)"
        ng-class="{'selected': ly.selected == module.key}">
        <i class="icon icon-{{module.key}}">&nbsp;</i>
        {{module.name}}
      </li>
    </ul>
    <div id="gundam-side-bottom">
      <button class="round raund-blue">退</button>
    </div>
  </div>
  <div id="gundam-container" ui-view></div>
</div>
